.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 24px;
  margin-bottom: 32px;
}

.card {
  background: white;
  border-radius: 18px;
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 18px;
  box-shadow: 0 8px 24px rgba(0,0,0,.06);
  transition: .25s;
}

.card:hover {
  transform: translateY(-4px);
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 14px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card p {
  color: #6b7280;
  margin: 0;
  font-size: 14px;
}

.card h2 {
  margin-top: 6px;
  font-size: 30px;
  color: #163020;
}